data/Day1/ds2/ds2_hic_read2.fq filter=lfs diff=lfs merge=lfs -text
data/Day1/ds1/ds1_hic_read2.fq filter=lfs diff=lfs merge=lfs -text
data/Day1/ds3/ds3_hifi.fastq.gz filter=lfs diff=lfs merge=lfs -text
data/Day1/ds3/ds3_hic_read1.fq filter=lfs diff=lfs merge=lfs -text
data/Day1/ds1/ds1_hifi.fastq.gz filter=lfs diff=lfs merge=lfs -text
data/Day1/ds2/ds2_hic_read1.fq filter=lfs diff=lfs merge=lfs -text
data/Day1/ds3/ds3_hic_read2.fq filter=lfs diff=lfs merge=lfs -text
data/Day1/ds1/ds1_hic.fastq.gz filter=lfs diff=lfs merge=lfs -text
data/Day1/ds2/ds2_hifi.fastq.gz filter=lfs diff=lfs merge=lfs -text
data/Day1/ds1/ds1_hic_read1.fq filter=lfs diff=lfs merge=lfs -text
data/Day1/ds1/tmp.kmc_suf filter=lfs diff=lfs merge=lfs -text
data/Day1/ds1/tmp.kmc_pre filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/data/Asparagus.gff filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd_script/Elaeis.fa filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd_script/Elaeis.gff filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/data/Asparagus.fa filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/data/Elaeis.fa filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/data/Elaeis.gff filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/data/Ananas.fa filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/data/Ananas.gff filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/Elaeis.gff filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/Elaeis.fa filter=lfs diff=lfs merge=lfs -text
5920cd73-42c1-4437-9abc-a6c11acbebc9/Elaeis.fa.tfa filter=lfs diff=lfs merge=lfs -text
src/diamond filter=lfs diff=lfs merge=lfs -text
src/diamond-linux64.tar.gz filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/6cd329ad-f054-43c7-bb1d-e7b6e0423516/Elaeis.fa.tfa filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000007/GF00000007_ks.csv filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000002/GF00000002_ks.csv filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/src/codeml.c filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000010/GF00000010.cdsaln filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/bin/pamp.exe filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/bin/yn00.exe filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/doc/MCMCtree.Tutorials.pdf filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000004/pro.aln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000001/pro.fasta filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/doc/pamlFAQs.pdf filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000008/GF00000008_ks.csv filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000009/GF00000009.cdsaln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000003/pro.aln filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/src/treesub.c filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/examples/mtCDNA/mtCDNAmam.nuc filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000007/pro.aln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000001/pro.aln filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/examples/TipDate.FluH1/in.BV.HKYG5 filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000006/pro.aln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000002/pro.fasta filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000004/GF00000004.codeml filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000006/GF00000006.codeml filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000009/pro.aln filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/bin/baseml.exe filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_b9a44254-49de-41a4-8872-a66657155613/GF00000003/GF00000003_ks.csv filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_b9a44254-49de-41a4-8872-a66657155613/GF00000003/pro.fasta filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/doc/pamlDOC.pdf filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/src/tools.c filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_b9a44254-49de-41a4-8872-a66657155613/GF00000001/pro.fasta filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000010/GF00000010.codeml filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_b9a44254-49de-41a4-8872-a66657155613/GF00000004/pro.aln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000006/GF00000006.cdsaln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/Elaeis.fa.original_safe_id filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/examples/CladeModelCD/PAMLCladeModelCDnotes.pdf filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000002/GF00000002_ks.csv filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_b9a44254-49de-41a4-8872-a66657155613/GF00000001/pro.aln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_b9a44254-49de-41a4-8872-a66657155613/GF00000003/pro.aln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_b9a44254-49de-41a4-8872-a66657155613/Elaeis.fa.original_safe_id filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_b9a44254-49de-41a4-8872-a66657155613/GF00000004/GF00000004.codeml filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000012/rst filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_b9a44254-49de-41a4-8872-a66657155613/GF00000001/GF00000001_ks.csv filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000012/GF00000012.cdsaln filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/Technical/Simulation/Codon/evolverNSbranchsites.exe filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000007/GF00000007_ks.csv filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000005/GF00000005.codeml filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000006/GF00000006.cdsaln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000005/GF00000005.cdsaln filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/examples/TipDate.FluH1/H1.txt filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/Technical/Pt/eigenQREV.pdf filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/Elaeis.fa.original_safe_id filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000005/GF00000005.cdsaln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000003/GF00000003_ks.csv filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000001/GF00000001_ks.csv filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000002/pro.fasta filter=lfs diff=lfs merge=lfs -text
src/paml4.9j.tgz filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000003/GF00000003_ks.csv filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_b9a44254-49de-41a4-8872-a66657155613/GF00000005/pro.aln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000013/GF00000013.cdsaln filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/examples/TipDate.FluH1/H1.Beast.xml filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/src/mcmctree.c filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000008/GF00000008_ks.csv filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000009/pro.aln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_b9a44254-49de-41a4-8872-a66657155613/GF00000002/pro.aln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/Elaeis.fa.tfa filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_b9a44254-49de-41a4-8872-a66657155613/GF00000004/GF00000004.cdsaln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000012/GF00000012.codeml filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000006/pro.aln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000007/pro.aln filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/examples/MHC.Swanson2002MBE/bigmhc.phy filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000003/pro.aln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_b9a44254-49de-41a4-8872-a66657155613/GF00000002/GF00000002_ks.csv filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000001/pro.fasta filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000001/pro.aln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_b9a44254-49de-41a4-8872-a66657155613/GF00000005/GF00000005.cdsaln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_b9a44254-49de-41a4-8872-a66657155613/GF00000005/GF00000005.codeml filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/bin/codeml.exe filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000011/pro.aln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000010/rst filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/examples/TipDate.FluH1/H1.nexus filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/bin/infinitesites.exe filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000011/GF00000011.codeml filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000002/pro.aln filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/Technical/Simulation/Codon/evolverNSbranches.exe filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/examples/DatingSoftBound/BFdriverDOC.pdf filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000003/pro.fasta filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/bin/mcmctree.exe filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/Technical/Simulation/Codon/evolverNSsites.exe filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/bin/chi2.exe filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000002/pro.aln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_b9a44254-49de-41a4-8872-a66657155613/Elaeis.fa.tfa filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000004/GF00000004.cdsaln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/Elaeis.fa.tfa filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000009/GF00000009.codeml filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000009/GF00000009.cdsaln filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/bin/evolver.exe filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/bin/basemlg.exe filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000005/pro.aln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000003/pro.fasta filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000004/GF00000004.cdsaln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000011/GF00000011.cdsaln filter=lfs diff=lfs merge=lfs -text
src/paml4.9j/bin/logoMCMCtree_MAC.jpg filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_82621354-22fa-4fa2-a2c7-2de34320674e/GF00000005/pro.aln filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000001/GF00000001_ks.csv filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_b9a44254-49de-41a4-8872-a66657155613/GF00000002/pro.fasta filter=lfs diff=lfs merge=lfs -text
data/Day2/2023.07.15_ks/wgd/wgdtmp_cfbe712a-5eef-43d0-ba9b-75202b598c25/GF00000004/pro.aln filter=lfs diff=lfs merge=lfs -text
data/day-1-genome-assembly-and-kmer-spectrum/Day1.zip filter=lfs diff=lfs merge=lfs -text
renku_background_dots.png filter=lfs diff=lfs merge=lfs -text
fonts/calcutta/Calcutta-Medium.svg filter=lfs diff=lfs merge=lfs -text
